Repository integrasjonsprosjekt/infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image, build-nix, terraform-pr, terraform-apply

build-image:
  stage: build
  image: docker:24.0
  tags:
  - dind
  services:
  - docker:24.0-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
  - docker build -t "$CI_REGISTRY_IMAGE/tofu:1.10" .
  ...

build-nix:
  stage: build
  trigger:
    include: pipelines/nix/nix.yml
    strategy: mirror

terraform-pr:
  stage: pr
  trigger:
    include: pipelines/terraform/terraform-pr.yml
    strategy: mirror

terraform-apply:
  stage: apply
  image: $CI_REGISTRY_IMAGE/tofu:1.10
  tags:
  - docker
  script:
  - echo "Running terraform apply..."
  - cd terraform || exit 1
  - tofu init
  - tofu apply -auto-approve tfplan
  dependencies:
  - terraform-plan

fix(nix): add sudo to user
  nixos/flake.nix
Due: build-nix

fix(terraform): add trigger for recreate images
  terraform/image/main.tf
Due: terraform-pr, terraform-apply

fix(terraform): remove recreate trigger
  terraform/image/.terraform.lock.hcl
  terraform/image/main.tf
Due: terraform-pr, terraform-apply

fix(terraform): force replace in command
  .github/workflows/image.yml
  terraform/image/.terraform.lock.hcl
Due: none

feat(terraform): initial terraform commit
  .github/workflows/skyhigh.yml
  terraform/main/data.tf
  terraform/main/main.tf
  terraform/modules/loadbalancer/data.tf
  terraform/modules/loadbalancer/main.tf
  terraform/modules/loadbalancer/output.tf
  terraform/modules/loadbalancer/variables.tf
  terraform/modules/secgroup/main.tf
  terraform/modules/secgroup/output.tf
  terraform/modules/secgroup/variables.tf
  terraform/modules/vm/data.tf
  terraform/modules/vm/main.tf
  terraform/modules/vm/output.tf
  terraform/modules/vm/variables.tf
Due: terraform-pr, terraform-apply

ci(terraform): add backend vm
  terraform/main/main.tf
Due: terraform-pr, terraform-apply

feat(terraform): add loadbalancer with http redirect
  terraform/main/loadbalancer.tf
  terraform/modules/network/output.tf
Due: terraform-pr, terraform-apply

feat(nix): add cloud init
  nixos/hosts/backend/configuration.nix
Due: none

feat(terraform): add firestore credentials with cloud init
  terraform/main/cloud-init.yml
  terraform/main/loadbalancer.tf
  terraform/main/main.tf
  terraform/main/variables.tf
Due: terraform-pr, terraform-apply

chore: debug
  .github/workflows/skyhigh.yml
Due: none

fix: credential loading
  .github/workflows/skyhigh.yml
  terraform/main/main.tf
  terraform/main/variables.tf
Due: terraform-pr, terraform-apply

chore(nix): change google creds secrets
  .github/workflows/skyhigh.yml
  nixos/hosts/backend/configuration.nix
  scripts/nix-build.sh
Due: none

chore(nix): change to podman
  nixos/flake.nix
  nixos/hosts/backend/configuration.nix
  nixos/hosts/frontend/configuration.nix
Due: build-nix

fix: use userns=host
  nixos/hosts/backend/configuration.nix
Due: none

fix: change google creds owner
  nixos/hosts/backend/configuration.nix
  terraform/main/cloud-init.yml
Due: none

chore: add redis
  nixos/hosts/backend/configuration.nix
Due: none

chore: add backend member
  terraform/main/loadbalancer.tf
Due: terraform-pr, terraform-apply

feat: add health monitor
  terraform/main/loadbalancer.tf
Due: terraform-pr, terraform-apply

fix: allways pull docker image
  nixos/hosts/backend/configuration.nix
  nixos/hosts/frontend/configuration.nix
Due: none

fix: write secret to a persisted location
  nixos/hosts/backend/configuration.nix
  terraform/main/cloud-init.yml
Due: none

fix: add redis location
  .github/workflows/image.yml
  .github/workflows/skyhigh.yml
  nixos/hosts/backend/configuration.nix
Due: none

fix: checkout before reusable workflow
  .github/workflows/image.yml
Due: none

chore: test without dispatch
  .github/workflows/skyhigh.yml
Due: none

fix: fix use of reusable workflow
  .github/workflows/image.yml
  .github/workflows/skyhigh.yml
Due: none

fix: pass secrets
  .github/workflows/image.yml
  .github/workflows/skyhigh.yml
Due: none

chore: make syncornus
  .github/workflows/image.yml
Due: none

fix: enable dhcp
  nixos/flake.nix
Due: build-nix

Path conditions:
  build-image: any of: Dockerfile
  build-nix: any of: nixos/**
  terraform-pr: any of: **/*.tf
  terraform-apply: any of: **/*.tf
