Repository integrasjonsprosjekt/infra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image, build-nix, terraform-pr, terraform-apply

build-image:
  stage: build
  image: docker:24.0
  tags:
  - dind
  services:
  - docker:24.0-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
  - docker build -t "$CI_REGISTRY_IMAGE/tofu:1.10" .
  ...

build-nix:
  stage: build
  trigger:
    include: pipelines/nix/nix.yml
    strategy: mirror

terraform-pr:
  stage: pr
  trigger:
    include: pipelines/terraform/terraform-pr.yml
    strategy: mirror

terraform-apply:
  stage: apply
  image: $CI_REGISTRY_IMAGE/tofu:1.10
  tags:
  - docker
  script:
  - echo "Running terraform apply..."
  - cd terraform || exit 1
  - tofu init
  - tofu apply -auto-approve tfplan
  dependencies:
  - terraform-plan

ci: fix build dir
  .github/workflows/docker.yml
Due: none

ci: fix permissions
  .github/workflows/docker.yml
Due: none

ci: fix container registry location
  .github/workflows/docker.yml
  Dockerfile
Due: build-image

ci:
  Dockerfile
Due: build-image

ci: add tf pipeline
  .github/workflows/image.yml
  scripts/nix-build.sh
Due: none

ci(docker): add docker to container
  Dockerfile
Due: build-image

ci(docker): remove docker
  Dockerfile
Due: build-image

ci(nix): fic script location
  .github/workflows/image.yml
Due: none

ci(nix): add checkout
  .github/workflows/image.yml
Due: none

ci(nix): use correct checkout version
  .github/workflows/image.yml
Due: none

ci(docker): add node to container
  Dockerfile
Due: build-image

ci(nix): update pipeline
  .github/workflows/image.yml
Due: none

ci(nix): add cache
  .github/workflows/image.yml
Due: none

ci(terraform): switch to pg backend
  terraform/image/provider.tf
  terraform/main/main.tf
  terraform/main/provider.tf
Due: terraform-pr, terraform-apply

ci(nix): switch to self hosted runner
  .github/workflows/image.yml
Due: none

ci(nix): remove cache
  .github/workflows/image.yml
Due: none

ci(nix): add back nix install
  .github/workflows/image.yml
Due: none

ci(nix): add python
  .github/workflows/image.yml
Due: none

ci(nix): spcify python version
  .github/workflows/image.yml
Due: none

ci(nix): try python version 3.12
  .github/workflows/image.yml
Due: none

ci(nix): more spesific python version
  .github/workflows/image.yml
Due: none

ci(nix): remove python setup
  .github/workflows/image.yml
Due: none

ci(nix): without build
  .github/workflows/image.yml
Due: none

ci: updeate cachix
  .github/workflows/image.yml
Due: none

ci(nix): update nix install
  .github/workflows/image.yml
Due: none

ci(nix): remove nix and install on host
  .github/workflows/image.yml
Due: none

ci(nix): remove cachix
  .github/workflows/image.yml
Due: none

ci(nix): check node version
  .github/workflows/image.yml
Due: none

ci(nix): add pg secret
  .github/workflows/image.yml
Due: none

ci(nix): add back build
  .github/workflows/image.yml
Due: none

ci(nix): source nix
  scripts/nix-build.sh
Due: none

ci(terraform): update image path
  terraform/image/main.tf
Due: terraform-pr, terraform-apply

ci(nix): only copy image
  scripts/nix-build.sh
Due: none

ci(nix): watch build script
  .github/workflows/image.yml
Due: none

ci(nix): update result loacation
  scripts/nix-build.sh
  terraform/image/main.tf
Due: terraform-pr, terraform-apply

ci(nix): add echo
  .github/workflows/image.yml
Due: none

ci(terraform): use actual file path
  terraform/image/main.tf
Due: terraform-pr, terraform-apply

ci(nix): add openstack secrets
  .github/workflows/image.yml
Due: none

ci(terraform): own state for nix
  terraform/image/.terraform.lock.hcl
  terraform/image/provider.tf
Due: terraform-pr, terraform-apply

ci(terraform): add image id output
  terraform/image/main.tf
Due: terraform-pr, terraform-apply

Path conditions:
  build-image: any of: Dockerfile
  build-nix: any of: nixos/**
  terraform-pr: any of: **/*.tf
  terraform-apply: any of: **/*.tf
